body {
  margin: 0 auto 0 auto;
  color: #3c4359;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'estebanregular';
  src: url('esteban-regular-webfont.woff2') format('woff2'),
       url('esteban-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
