.navmain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 30px;
}
nav{
    /* flex: 1 1 0; */
    display: flex;
    gap: 2ch;
    align-items: center;
    
}
.navleft{
    justify-content: flex-start;
}
a{
    text-decoration: none;
}
.navright{
    justify-content: flex-end;
}
.logo{
    display: flex;
    justify-self: center;
}
