.shoppingcartouter{
    display: flex;
    justify-content: center;
}

.shoppingcart{
    max-width: 1148px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 4ch;
    padding-top: 5ch;
}
button{
    align-self: center;
}

